<style>
.footer {background:#333; color: white;}
.footer a {color:#f7f7f7;}
</style>

<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<!-- Custom styles for this template -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="footer">
  <div class="container">
    <div class="col-sm-4">
      <h3>SRA Career Center</h3>
      <ul class="list">
        <li><a routerLink="/seekers-overview"><i class="fa fa-angle-right"></i> Job Seekers</a></li>
        <li><a routerLink="/employers-overview"><i class="fa fa-angle-right"></i> Employers</a></li>
        <li><a routerLink="/pricing"><i class="fa fa-angle-right"></i> Pricing</a></li>
        <li><a routerLink="/contact"><i class="fa fa-angle-right"></i> Contact</a></li>
      </ul>
    </div>
    <!-- end section -->

    <div class="col-sm-4">
      <h3>SRA International</h3>
      <ul class="list">
        <li><a href="http://srainternational.org/about-sra-international"><i class="fa fa-angle-right"></i> About SRA International</a></li>
        <li><a href="http://srainternational.org/learn"><i class="fa fa-angle-right"></i> SRA Learning Institute</a></li>
        <li><a href="http://srainternational.org/publications"><i class="fa fa-angle-right"></i> SRA Publications</a></li>
        <li><a href="http://srainternational.org/membership"><i class="fa fa-angle-right"></i> SRA Membership</a></li>
      </ul>
    </div>
    <!-- end section -->

    <div class="col-sm-4 last">
      <div class="clearfix">
        <h3>Contact Us</h3>
        <p >Society of Research Administrators International<br>
          1560 Wilson Blvd., Suite 310<br>
          Arlington, VA 22209</p>
        <p>+1 703-741-0140<br>
          FAX +1 703-741-0142</p>
      </div>
    </div>
    <!-- end section -->

  </div>
</footer>
