<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<section class="no-subnav below-fh">
  <div class="contact-bkgnd" style="background: url(../assets/img/building-phone-booth-rocks-163040.jpg) center top no-repeat transparent; background-attachment: fixed; height: 100vh;">
    <div class="container">
      <div class="col-sm-5" style="margin: 50px auto 0;
        position: relative;
        text-align: left;
        color: #036;
        /*font-size: 30px; */
        background: rgba(255,255,255,.8) /*rgba(233,235,235,.6)*/;">
        <h1>Questions? Feedback? Contact us!</h1>
        <p style="color: #333; font-size: 20px;" class="stack-space-lg">
          <strong>Jennifer Atkison</strong><br>
          Exhibits and Meeting Planner Manager<br>
          <span class="glyphicon glyphicon-earphone" style="font-size: 14px; margin-right: 5px"></span>
          +1 703-741-0140 ext. 212<br>
          <span class="glyphicon glyphicon-envelope" style="font-size: 14px; margin-right: 5px"></span>
          <a href="mailto:jgauvin@srainternational.org">jgauvin@srainternational.org</a>
        </p>
        <p style="color: #333; font-size: 20px;">
          <strong>Jim Mitchell</strong><br>
          Manager, Information Technology and Communications<br>
          <span class="glyphicon glyphicon-earphone" style="font-size: 14px; margin-right: 5px"></span>+1 703-741-0140 ext. 221<br>
          <span class="glyphicon glyphicon-envelope" style="font-size: 14px; margin-right: 5px"></span> <a href="mailto:jmitchell@srainternational.org">jmitchell@srainternational.org</a>
        </p>
      </div>
    </div>
    <div class="container">
      <!-- ### ONE ROW ### -->
      <div class="row clearfix hidden">
        <div class="col-sm-12">
          <div class="row col-md-6">
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/fpo-post.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Post Jobs</p>
                <p class="text-center">Post a new job, edit an existing job listing, or purchase job credits.</p>
              </a>
            </div>
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/fpo-resume-search.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Resume Search</p>
                <p class="text-center">Search our database of qualified resumes to find the perfect candidate.</p>
              </a>
            </div>
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/fpo-saved-search.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Saved Searches</p>
                <p class="text-center">Save your resume searches and execute the same searches later.</p>
              </a>
            </div>
          </div>
          <div class="row col-md-6">
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/fpo-saved-resumes.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Saved Resumes</p>
                <p class="text-center">View resumes saved in previous searches</p>
              </a>
            </div>
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/analytics-flaticon.svg" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Job Reports</p>
                <p class="text-center">View your job reports</p>
              </a>
            </div>
            <div class="col-sm-4 stack-space">
              <a href="#">
                <img src="../assets/img/account-profile.svg" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                <p class="lead tight text-center">Account Profile</p>
                <p class="text-center">View and manage your account profile.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
