<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<section class="below-fh">
  <div class="main-photo-temp" style="height: 300px; padding: 50px; display: table; width: 100%; background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003863+0,00aae8+49,00aae8+49,fec832+100 */
  background: #003863; /* Old browsers */
  background: -moz-linear-gradient(45deg, #003863 0%, #00aae8 49%, #00aae8 49%, #fec832 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #003863 0%,#00aae8 49%,#00aae8 49%,#fec832 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #003863 0%,#00aae8 49%,#00aae8 49%,#fec832 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003863', endColorstr='#fec832',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */"
  >
  <div class="container text-center" style="color: white; max-width: 900px; display: table-cell; vertical-align: middle;">
    <h1 style=" text-shadow: 10px 10px 30px rgba(0,0,0,.5)">Top Talent Supporting Great Advances in Research</h1>
  </div>

</div>
<!-- ### PHOTO HIDDEN ### -->
<div class="hidden banner-image stack-space" style="background: url(../assets/img/hand-3044387_1280.jpg) center -30px no-repeat transparent; background-attachment: scroll; background-size: 100%; height: 100vh; max-height: 500px;" >
  <!-- ### <img src="i../assetsimg/hand-3044387_1280.jpg" width="100%"  alt="" style="max-height: 500px;"/> ### -->
  <div class="tag-line-container" style="margin: -60px auto 0; position: relative; text-align: right; color: white; font-size: 30px; background: rgba(233,235,235,.4)">
    <p class="lead" style="font-size: 30px; margin: 0 auto; max-width: 1140px; text-align: right; padding-right: 15px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; text-transform: capitalize; text-shadow: 2px 2px 5px rgba(0,0,0,.6)" >Top talent supporting great advances in research</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 stack-space-lg job-list">
      <ol class="row breadcrumb hidden" style="background: none; margin-bottom: 0;">
        <li><a href="#">Home</a></li>

        <li>Job Search</li>
      </ol>
      <div class="row clearfix">
        <div class="col-sm-6 col-sm-push-6" style="padding-top: 20px;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by keyword">
            <span class="input-group-btn">
              <a href="index-filtered.html" class="btn btn-default" type="button">GO</a>
            </span>
          </div><!-- /input-group -->
          <a href="javascript:void(0);" role="button" class="adv" onClick="$('#filter-options').slideToggle(); $(this).toggleClass('open')">Advanced Search</a>

          <!-- ### FILTER OPTIONS
          <div id="filter-options" class="clearfix" style="display: none; position: absolute; z-index: 100; box-shadow: 2px 2px 10px rgba(0,0,0,.25);">

          <button class="close" onClick="$('#filter-options').slideToggle();"><span class="glyphicon glyphicon-remove-sign" style="color: #000 !important;" ></span></button>

          <ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
          <li><strong>Industries</strong>
          <ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
          <li><label for="all-indy" class="normal"><input type="checkbox" id="all-indy" /> SELECT ALL</label></li>
          <li><label for="college" class="normal"><input type="checkbox" id="college" /> College/University</label></li>
          <li><label for="hospital" class="normal"><input type="checkbox" id="hospital" /> Hospital</label></li>
          <li><label for="non-profit" class="normal"><input type="checkbox" id="non-profit" /> Non-Profit</label></li>
          <li><label for="commercial" class="normal"><input type="checkbox" id="commercial" /> Commercial</label></li>
          <li><label for="govt" class="normal"><input type="checkbox" id="govt" /> Government</label></li>
          <li><label for="legal" class="normal"><input type="checkbox" id="legal" /> Legal</label></li>
          <li><label for="other" class="normal"><input type="checkbox" id="other"/> Other</label></li>

        </ul>
      </li>
    </ul>
    <ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
    <li><strong>Categories</strong>
    <ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
    <li><label for="all-cat" class="normal"><input type="checkbox" id="all-cat" /> Administrator or Administrative</label></li>
    <li><label for="admin" class="normal"><input type="checkbox" id="admin" /> Administrator or Administrative</label></li>
    <li><label for="business-manager" class="normal"><input type="checkbox" id="business-manager" /> Business Manager</label></li>
    <li><label for="compliance" class="normal"><input type="checkbox" id="compliance" /> Compliance</label></li>
    <li><label for="dept-admin" class="normal"><input type="checkbox" id="dept-admin" /> Department Administrator</label></li>
    <li><label for="fn-ops" class="normal"><input type="checkbox" id="fn-ops" /> Finance, Operations</label></li>
    <li><label for="government" class="normal"><input type="checkbox" id="government" /> Government</label></li>
    <li><label for="grants" class="normal"><input type="checkbox" id="grants"/> Grants and Contracts</label></li>
    <li><label for="irb" class="normal"><input type="checkbox" id="irb"/> Institutional Review Board</label></li>
    <li><label for="other-categ" class="normal"><input type="checkbox" id="other-categ"/> Other</label></li>
    <li><label for="president" class="normal"><input type="checkbox" id="president"/> President, CEO, Executive Director</label></li>
    <li><label for="ra-mgr" class="normal"><input type="checkbox" id="ra-mgr"/> Research Administrator/Manager</label></li>
    <li><label for="spon-proj" class="normal"><input type="checkbox" id="spon-proj"/> Sponsored Projects/Programs</label></li>

  </ul>
</li>
</ul>
<ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
<li><strong>Job Types</strong>
<ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
<li><label for="ft" class="normal"><input type="checkbox" id="ft" /> Full Time</label></li>
<li><label for="pt" class="normal"><input type="checkbox" id="pt" /> Part Time</label></li>
<li><label for="contract" class="normal"><input type="checkbox" id="contract" /> Contract</label></li>
<li><label for="temp-perm" class="normal"><input type="checkbox" id="temp-perm" /> Temp to Perm</label></li>
<li><label for="internship" class="normal"><input type="checkbox" id="internship" /> Internship</label></li>
</ul>
</li>
</ul>
<ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
<li><strong>Education</strong>
<ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
<li><label for="edu-all" class="normal"><input type="checkbox" id="edu-all" /> Select All</label></li>
<li><label for="hs" class="normal"><input type="checkbox" id="hs" /> High School</label></li>
<li><label for="some-college" class="normal"><input type="checkbox" id="some-college" /> Some College</label></li>
<li><label for="two-yr" class="normal"><input type="checkbox" id="two-yr" /> 2-Year Degree</label></li>
<li><label for="four-year" class="normal"><input type="checkbox" id="four-year" /> 4-Year Degree</label></li>
<li><label for="masters" class="normal"><input type="checkbox" id="masters" /> Masters</label></li>
<li><label for="doctorate" class="normal"><input type="checkbox" id="doctorate" /> Doctorate</label></li>
</ul>
</li>
</ul>
</div>
<!-- ### END FILTER OPTIONS ### -->

</div><!-- /.col-lg-6 -->

<div class="col-sm-6 col-sm-pull-6 col-xs-12">
  <h2 style="margin-bottom: 0">Current Opportunities </h2>
  <p class="lead pull-left" style="font-weight: 400;"><strong>30</strong> jobs
    from last <a href="javascript:void(0);">90 days<span class="caret"></span></a></p>
  </div>

  <!-- ### FILTER OPTIONS ### -->
  <div id="filter-options" class="clearfix" style="display: none; /* position: absolute; z-index: 100; */ box-shadow: 2px 2px 10px rgba(0,0,0,.25); ">

    <button class="close" onClick="$('#filter-options').slideToggle();"><span class="glyphicon glyphicon-remove-sign" style="color: #000 !important;" ></span></button>
    <!--###
    <ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
    <li><strong>Industries</strong>
    <ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
    <li><label for="all-indy" class="normal"><input type="checkbox" id="all-indy" /> SELECT ALL</label></li>
    <li><label for="college" class="normal"><input type="checkbox" id="college" /> College/University</label></li>
    <li><label for="hospital" class="normal"><input type="checkbox" id="hospital" /> Hospital</label></li>
    <li><label for="non-profit" class="normal"><input type="checkbox" id="non-profit" /> Non-Profit</label></li>
    <li><label for="commercial" class="normal"><input type="checkbox" id="commercial" /> Commercial</label></li>
    <li><label for="govt" class="normal"><input type="checkbox" id="govt" /> Government</label></li>
    <li><label for="legal" class="normal"><input type="checkbox" id="legal" /> Legal</label></li>
    <li><label for="other" class="normal"><input type="checkbox" id="other"/> Other</label></li>

  </ul>
</li>
</ul>
<ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
<li><strong>Categories</strong>
<ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
<li><label for="all-cat" class="normal"><input type="checkbox" id="all-cat" /> Administrator or Administrative</label></li>
<li><label for="admin" class="normal"><input type="checkbox" id="admin" /> Administrator or Administrative</label></li>
<li><label for="business-manager" class="normal"><input type="checkbox" id="business-manager" /> Business Manager</label></li>
<li><label for="compliance" class="normal"><input type="checkbox" id="compliance" /> Compliance</label></li>
<li><label for="dept-admin" class="normal"><input type="checkbox" id="dept-admin" /> Department Administrator</label></li>
<li><label for="fn-ops" class="normal"><input type="checkbox" id="fn-ops" /> Finance, Operations</label></li>
<li><label for="government" class="normal"><input type="checkbox" id="government" /> Government</label></li>
<li><label for="grants" class="normal"><input type="checkbox" id="grants"/> Grants and Contracts</label></li>
<li><label for="irb" class="normal"><input type="checkbox" id="irb"/> Institutional Review Board</label></li>
<li><label for="other-categ" class="normal"><input type="checkbox" id="other-categ"/> Other</label></li>
<li><label for="president" class="normal"><input type="checkbox" id="president"/> President, CEO, Executive Director</label></li>
<li><label for="ra-mgr" class="normal"><input type="checkbox" id="ra-mgr"/> Research Administrator/Manager</label></li>
<li><label for="spon-proj" class="normal"><input type="checkbox" id="spon-proj"/> Sponsored Projects/Programs</label></li>

</ul>
</li>
</ul>
<ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
<li><strong>Job Types</strong>
<ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
<li><label for="ft" class="normal"><input type="checkbox" id="ft" /> Full Time</label></li>
<li><label for="pt" class="normal"><input type="checkbox" id="pt" /> Part Time</label></li>
<li><label for="contract" class="normal"><input type="checkbox" id="contract" /> Contract</label></li>
<li><label for="temp-perm" class="normal"><input type="checkbox" id="temp-perm" /> Temp to Perm</label></li>
<li><label for="internship" class="normal"><input type="checkbox" id="internship" /> Internship</label></li>
</ul>
</li>
</ul>
<ul style="padding-left: 0; list-style-type: none; float: left; margin-right: 15px;">
<li><strong>Education</strong>
<ul style="padding-left: 10px; list-style-type: none; margin-top: 5px;">
<li><label for="edu-all" class="normal"><input type="checkbox" id="edu-all" /> Select All</label></li>
<li><label for="hs" class="normal"><input type="checkbox" id="hs" /> High School</label></li>
<li><label for="some-college" class="normal"><input type="checkbox" id="some-college" /> Some College</label></li>
<li><label for="two-yr" class="normal"><input type="checkbox" id="two-yr" /> 2-Year Degree</label></li>
<li><label for="four-year" class="normal"><input type="checkbox" id="four-year" /> 4-Year Degree</label></li>
<li><label for="masters" class="normal"><input type="checkbox" id="masters" /> Masters</label></li>
<li><label for="doctorate" class="normal"><input type="checkbox" id="doctorate" /> Doctorate</label></li>
</ul>
</li>
</ul>
### -->
<div class="row">
  <div class="col-sm-3">
    <label class="control-label clearfix" for="industries">Industries</label>
    <select id="industries" class="form-control" multiple="multiple">
      <option value="college">College/University</option>
      <option value="hospital">                    Hospital</option>
      <option value="non-profit">
        Non-Profit</option>
        <option value="commercial">
          Commercial</option>
          <option value="govt">
            Government</option>
            <option value="legal">
              Legal</option>
              <option value="other">
                Other</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="control-label" for="categories">Categories</label>
              <select id="categories" multiple="multiple">
                <option value="all-cat">
                  Administrator or Administrative</option>
                  <option value="admin">
                    Administrator or Administrative</option>
                    <option value="business-manager">
                      Business Manager</option>
                      <option value="compliance">
                        Compliance</option>
                        <option value="dept-admin">
                          Department Administrator</option>
                          <option value="fn-ops">
                            Finance, Operations</option>
                            <option value="government">
                              Government</option>
                              <option value="grants">
                                Grants and Contracts</option>
                                <option value="irb">
                                  Institutional Review Board</option>
                                  <option value="other-categ">
                                    Other</option>
                                    <option value="president">
                                      President, CEO, Executive Director</option>
                                      <option value="ra-mgr">
                                        Research Administrator/Manager</option>
                                        <option value="spon-proj">
                                          Sponsored Projects/Programs</option>
                                        </select>
                                      </div>
                                      <div class="col-sm-3">
                                        <label class="control-label" for="job-types">Job Types</label>
                                        <select id="job-types" multiple="multiple">
                                          <option value="ft">
                                            Full Time</option>
                                            <option value="pt">
                                              Part Time</option>
                                              <option value="contract">
                                                Contract</option>
                                                <option value="temp-perm">
                                                  Temp to Perm</option>
                                                  <option value="internship">
                                                    Internship</option>
                                                  </select>
                                                </div>
                                                <div class="col-sm-3">
                                                  <label class="control-label" for="education">Education</label>
                                                  <select id="education" multiple="multiple">
                                                    <option value="hs">
                                                      High School</option>
                                                      <option value="some-college">
                                                        Some College</option>
                                                        <option value="two-yr">
                                                          2-Year Degree</option>
                                                          <option value="four-year">
                                                            4-Year Degree</option>
                                                            <option value="masters">
                                                              Masters</option>
                                                              <option value="doctorate">
                                                                Doctorate</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <!-- ### END FILTER OPTIONS ### -->


                                                        <div class="col-xs-12 alert alert-info clearfix hidden">
                                                          <p id="filter-results" style="color: #000;"> <strong>FILTERED RESULTS BY:</strong> <button class="btn btn-default">Option 1 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button> <button class="btn btn-default">Option 2 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button></p>


                                                        </div>

                                                        <div id="job-spotlight" class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
                                                          <div class="panel panel-primary">
                                                            <div class="panel-heading" style="background: #253D68"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Job Spotlight</div>
                                                            <div class="panel-body">
                                                              <h3 style="margin-top: 0;"><a href="jobs-software-engineer.html">Content Project Manager</a></h3>
                                                              <p class="date-loc clearfix"><span class="date-loc" ><em><strong>SRA International</strong> - Hunt Valley, MD</em></span></p>
                                                              <p>SRA International is looking for a part-time project manager for the Education and Professional Development Micro-Accreditation Task Force.</p>
                                                              <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p>
                                                            </div>
                                                          </div>
                                                        </div>

                                                        <div id="search-results" class="col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">
                                                          <div class="job featured-job">
                                                            <p style="color:#ff8100; margin-bottom: 0;"><em class="fa fa-star-o"></em> <strong>FEATURED JOB </strong><em class="fa fa-star-o"></em></p>
                                                            <h3> <a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13727">Content Project Manager </a></h3>

                                                            <p><strong>SRA International</strong> - Arlington, VA
                                                              <span class="pull-right">
                                                                Posted 17 days ago</span>
                                                              </p>
                                                              <!-- <p>SRA International is looking for a part-time project manager for the Education and Professional Development Micro-Accreditation Task Force.</p>
                                                              <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->
                                                            </div>
                                                            <div class="job">
                                                              <h3><a href="cpm.html">Content Project Manager</a></h3>
                                                              <p class="tight">
                                                                <span class="date-loc col-sm-6 row "><strong>SRA International</strong> - Hunt Valley, MD</span> <span style="margin-right: 15px;">  </span>
                                                                <span class="date-loc pull-right">Posted 11 Days ago </span></p>
                                                                <p class="hidden">SRA International is looking for a part-time project manager for the Education and Professional Development Micro-Accreditation Task Force.</p>
                                                                <p  class="hidden"><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p>
                                                              </div>

                                                              <div class="job">

                                                                <h3>
                                                                  <a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13731">Research Compliance Officer</a></h3>
                                                                  <p class="tight"><strong>University of Nevada Reno</strong> -Reno, NV <span class="date-loc pull-right">Posted 11 days ago</span></p>

                                                                  <!--<p class="hiddden">The University of Nevada, Reno Research Integrity Office is recruiting for a Research Compliance Officer. </p>
                                                                  <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->

                                                                </div>

                                                                <div class="job">


                                                                  <h3><a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13730">Associate Vice President for Research</a></h3>
                                                                  <p class="tight"><strong>University of Wyoming</strong> - Laramie, WY <span class="pull-right">Posted 12 days ago</span>

                                                                  </p>
                                                                  <!-- <p>Provides primary support to the Vice President for Research and Economic Development for the administrative oversight of all contract and grant pre-award, award set-up and post-award research administration.  </p>
                                                                  <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p>	-->

                                                                </div>


                                                                <div class="job">

                                                                  <h3><a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13729">Director, Technology Transfer and Research Products Center</a></h3>
                                                                  <p class="tight"><strong>University of Wyoming</strong> - Laramie, WY
                                                                    <span class="pull-right">Posted
                                                                      12 days ago</span>
                                                                    </p>
                                                                    <!-- <p>The University of Wyoming (UW) is seeking an innovative, energetic and experienced individual to serve as Director of the Office of Technology Transfer and Research Products Center (WY-TTRPC).</p>
                                                                    <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->
                                                                  </div>

                                                                  <div class="job">
                                                                    <h3><a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13728">Grant Officer</a></h3>
                                                                    <p><strong>Salt Lake Community College</strong> -
                                                                      Salt Lake City, UT <span class="pull-right">
                                                                        Posted 17 days ago</span>
                                                                      </p>

                                                                      <!--  <p>The Office of Sponsored Projects inspires superior grant practice by developing and maintaining a robust grant administration infrastructure, and providing exceptional service and leadership in the pursuit and management of scholarly grant-related activities at Salt Lake Community College. </p>
                                                                      <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->
                                                                    </div>




                                                                    <div class="job">
                                                                      <h3><a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13726">Director of Administrative and Research Systems</a></h3>
                                                                      <p><strong>Stony Brook University</strong> -
                                                                        Stony Brook, NY <span class="pull-right">
                                                                          Posted 18 days ago</span>
                                                                        </p>

                                                                        <!-- <p>Preferred Qualifications: Advanced degree. Knowledge of research administration. Experience with IT solutions in a research or university environment. </p>
                                                                        <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->
                                                                      </div>

                                                                      <div class="job">
                                                                        <h3><a href="index.cfm?fuseaction=jobs.viewJobDetail&amp;jobId=13724">Senior Grants Administrator - Morgridge College Of Education</a></h3>
                                                                        <p><strong>University of Denver</strong> -
                                                                          Denver, CO <span class="pull-right">
                                                                            Posted 19 days ago</span>
                                                                          </p>

                                                                          <!-- <p>Position Summary The role of the Senior Grants Administrator is to support to the college in the development and management of grants, gifts, and contracts.  </p>
                                                                          <p><a href="#">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p> -->
                                                                        </div>













                                                                        <button class="btn btn-primary btn-block stack-space-lg">SHOW ALL JOBS</button>




                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </section>
