@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600');*/
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Source+Sans+Pro:400,600');

/*font-family: 'Alegreya', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Crete Round', serif;
}
@media (max-width: 767px) {
  h1 {font-size: 30px;}
  h2 {font-size: 24px;}
  h3 {font-size: 20px;}
  h4 {font-size: 18px; }
  p {font-size: 14px; line-height: 1.2;}

  
}

/* GLOBAL */
.container {
	width: 100%;
	max-width: 1170px;
}
.normal, .control-label.normal {font-weight: 400;}

.no-subnav {margin-top: 80px;}
.below-fh {margin-top: 80px; background: #f7f7f7}

@media (max-width: 767px) {
  .below-fh {margin-top: 50px;}
  .no-subnav {margin-top: 50px;}
}

.btn-warning {
    background-image: -webkit-linear-gradient(top,#ff9900 0,#eb9316 100%);
    background-image: -o-linear-gradient(top,#ff9900 0,#eb9316 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff9900),to(#eb9316));
    background-image: linear-gradient(to bottom,#ff9900 0,#eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
  border-color: #ff9900;
color: #000;}

/* NAV */
.navbar {
    min-height: 80px;
}
@media (max-width: 767px) {
	.navbar {
    min-height: 0;
	}
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
}
	a.navbar-brand img {margin-top: -10px; margin-bottom: -3px;}
  a.navbar-brand h1 {font-size: 26px !important;}
}
@media (min-width: 768px) {
	.navbar-nav {
			margin-top: 20px;
    font-size: 14px;
	}
}
.navbar-default {
    background: /*#f5f5f5*/ white;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.navbar-default .navbar-nav>li>a {
    color: #333;  
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #000;
		text-decoration: underline;
		background-color: #ddd;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #666;
    background-image: none !important;
}
.breadcrumb>li {
    display: inline-block;
    color: #757575;
}

.first {margin-top: 100px;}
@media (max-width: 767px) {
	.first {margin-top: 50px;}
}
.required {color: darkred;}
label span.normal, .normal {font-weight: 400;}
.radio-group label.control-label {display: block; text-align: left}

#filter-options {margin-top: -20px;}

@media (max-width: 767px) {
  #filter-options {margin-top: 0;}
}
/*.nav-tabs {
    border-bottom: 1px solid #0d2857;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #0d2857;
  border-bottom: 2px solid white;
}
*/


.normal, label.normal {font-weight: 400;}
.stack-space {margin-bottom: 15px;}
.stack-space-lg {margin-bottom: 30px;}
.tight {margin-bottom: 10px;}
label.control-label.btn.btn-default.btn-block {white-space: inherit}

@media (max-width:767px) {
  .form-group.form-horizontal.clearfix, .well {margin-left: -15px; margin-right: -15px;}
  form li {margin-bottom: 10px;}
  .radio-group label {padding-left: 15px;}
  .radio-group input {margin-left: -15px;}
  
}

h3 {margin-bottom: 0;}
.job, .job-desc {border: 1px solid #aaa /*#253D68*/; padding: 5px 10px; margin-bottom: 15px; border-radius: 4px; background: white; box-shadow: 2px 2px 5px rgba(0,0,0,0.25) }
.job.featured-job { border: 1px solid #ff8100;  background: #fffff9; padding: 10px;}
.job h3 {margin-top: 10px; font-family: 'Source sans pro'; font-weight: bold; font-size: 20px;}
.job:hover {border: 2px solid #337ab7; margin-bottom: 13px;  }
.job.featured-job:hover { border: 2px solid #EC7700;  background-color: #fffff9; padding: 10px; margin-bottom: 13px;}

.adv:before {content: "\e114";     display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400; margin-right: 3px;}
.adv.open:before {content: "\e113";     display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
margin-right: 3px;}

#filter-options {border: 1px solid #ccc; background: white; padding: 10px; margin: -10px 15px 30px; width: 100%; max-width: 1140px; right: 15px; float: right;}
#filter-options button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    border: 0;
    margin-top: -20px;
    position: absolute;
  right: 15px;
    opacity: 1;
    color: white;
    background-color: white;
    border-radius: 50%;
  z-index: 100;
  transition-duration: .5s ;
}
@media (max-width:990px) {
	#filter-options {border: 1px solid #ccc; background: #f7f7f7; padding: 10px; margin: 10px auto 15px; width: 100%; float: none;}
}

.top_section {text-align: right; padding-top: 10px;}
.top_section a {margin:5px;}

@media (min-width: 768px) {
.navbar-nav>li>a {
    padding-top: 10px; 
    padding-bottom: 10px; 
}
}

/* LOG IN */
.blue-triangle-down-left {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #0d2857;
        float: left; margin-top: -15px; margin-left: 50px;
}
      .blue-triangle-down-right {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #0d2857;
        float: right; margin-top: -15px; margin-right: 50px;
}

/* EMPLOYER POST LOGIN */
.nav>li>a:hover {
    text-decoration: none;
    background-color: #fffff9;
}
.nav.nav-tabs li a p {margin-bottom: 0 !important;}
.tab-content {background: white; padding: 15px; border: 1px solid #ddd; border-top: 0; min-height: 400px;}


/* CONTACT */
.icon-header {font-size: 30px; margin-bottom: 0;}

/* pricing tables */
.pricing-tables-main {
	position: relative;
	float: left;
	margin-bottom: 40px;
}

.pricing-tables {
	position: relative;
	float: left;
	width: 24%;
	border: 1px solid #eee;
}
.pricing-tables .title {
	float: left;
	width: 100%;
	height: 30px;
	padding: 13px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables .cont-list li.last {
	border: none;
}
.pricing-tables .ordernow {
	float: left;
	width: 100%;
	padding: 28px 0px;
	background-color: #eee;
	text-align: center;
	color: #fff;
}
.pricing-tables-main .ordernow .normalbut{
	color: #fff;
	background-color: #666;
	border: 1px solid #454545;
	padding: 10px 18px;
	border-radius: 3px;
	font-weight: normal;
}
.pricing-tables-main .ordernow .normalbut:hover{
	background-color: #727272;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #ff7b29;
	padding: 10px 18px;
	border-radius: 3px;
	font-weight: normal;
}
.pricing-tables-main .ordernow .colorchan:hover{
	color: #fff;
	background-color: #f67220;
}
.pricing-tables-helight{
	position: relative;
	float: left;
	width: 27%;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight .title {
	float: left;
	width: 100%;
	height: 46px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #fa7421;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #f16b19;
	border-bottom: 1px solid #f19b65;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #ff7b29;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-helight .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight .cont-list li.last {
	border: none;
}
.pricing-tables-helight .ordernow {
	float: left;
	width: 100%;
	padding: 30px 0 35px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-two {
	position: relative;
	float: left;
	width: 33%;
	border: 1px solid #eee;
  margin-top: 30px;
}
.pricing-tables-two .title {
	float: left;
	width: 100%;
	height: 60px /*30px*/;
	padding: 13px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-two .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-two .cont-list li.last {
	border: none;
}
.pricing-tables-two .ordernow {
	float: left;
	width: 100%;
	padding: 28px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight-two{
	position: relative;
	float: left;
	width: 33%;
	z-index: 3;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.pricing-tables-helight-two .title {
	float: left;
	width: 100%;
	height: 77px /*46px*/;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #fa7421;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #f16b19;
	border-bottom: 1px solid #f19b65;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #ff7b29;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight-two .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-helight-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight-two .cont-list li.last {
	border: none;
}
.pricing-tables-helight-two .ordernow {
	float: left;
	width: 100%;
	padding: 30px 0 35px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}
.pricing-tables-helight-two .title {
	background-color: #0969d8;
	border-top: 3px solid #0863cc;
	border-bottom: 1px solid #0b77ec;
}
.pricing-tables-helight-two .price {
	background-color: #0d2857;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #0d2857;
}
.pricing-tables-main .ordernow .colorchan:hover{
	color: #fff;
	background-color: #278ef3;
}

/* Wizard Steps */
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden
}
.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding-left: 0;
}
.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center
}
.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666
}
.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0
}
.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc
}
.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5
}
.step_no, .wizard_horizontal ul.wizard_steps li a.selected:before {
  background: #FF9900 /*#eb9316 /*#34495E*/;
  color: #333
}
.wizard_horizontal ul.wizard_steps li a.done .step_no, .wizard_horizontal ul.wizard_steps li a.done:before {
  background: #253D68 /*#1ABB9C*/;
  color: #fff
}
.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%
}
.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto
}
.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px
}

/* POST A JOB */
.even-container {background: rgba(255,153,0,.1) /*rgba(240,173,78,0.11) /* #e38d13  #f7f7f7*/; margin: 15px -15px 30px; padding: 15px;}
.even-container h3 {margin-top: 0;}
.confirmation-screen .form-horizontal .control-label {padding-top: 0;}

blockquote {
  border-left: 5px solid #FF9900;
}

/* ACCORDIONS */
.showDetails::before {
      content: "\e080";
  position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
}

.showDetails.open::before {
      content: "\e114";
  position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
}

/* FOOTER */

  .footer {background: #333; color: white;}
  .footer a {color:#f7f7f7;}

footer, .footer {
    background-color: #333;
    display: flex;
    flex-direction: column;
    /*margin-top: 2em; */
  padding-top: 30px;
  padding-bottom: 50px;
}
footer h3 {margin-bottom: 10px;}
.footer .list {padding-left: 0px; list-style: none;}
.footer .list li a {
    color: #999;
}
.footer .list li a .fa {margin-right: 10px;}

.footer .list li a:hover, .footer .list li a:focus {
    color: #f7f7f7; text-decoration: underline;
}



