  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
  <!-- Custom styles for this template -->
  <link href="../assets/css/styles.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    /*.link-box {
      padding-top: 10px;
      line-height: 1.3
    }
    .link-box:hover {
      background: #fff;
      box-shadow: 10px 10px 10px rgba(0,0,0,.3);
      padding-top:5px;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      border-radius: 6px;
    }
    .link-box {
      background: #fff;
      box-shadow: 5px 5px 5px rgba(0,0,0,.3);
      padding-top:10px;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      border-radius: 6px;
      border: 1px solid #aaa;
    } */
    .link-box:hover {
      background: #fffff9;
      box-shadow: 3px 3px 5px rgba(0,0,0,.3);
      padding-top:5px;
      padding-bottom: 10px;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      border-radius: 6px;
      /* border:1px solid #253D68; */
      z-index: 5
    }
    .link-box .lead {
      line-height: 1.2;
    }
  </style>

<section class="no-subnav below-fh">
  <div class="billboard-emp stack-space-lg" style="background: url(../assets/img/FPO-img-employers.jpg) center top no-repeat transparent; background-size: 100%; min-height: 450px">
    <div class="container">
      <div class="col-sm-5" style="margin: 50px auto 0;
      position: relative;
      text-align: left;
      color: #036;
      font-size: 30px;
      background: rgba(255,255,255,.8) /*rgba(233,235,235,.6)*/;">
      <h1>Looking for the right people for your company?</h1>
      <p class="lead" style="color: #333;">
        This is where you will find them!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 stack-space-lg">
          <div class="row clearfix">
            <div class="col-xs-12 hidden">
              <h1>Welcome Employers</h1>
            </div>
            <!-- ### 2 ROWS ### -->
            <div class="col-xs-12">
              <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="employers-job-post.html">
                    <img src="../assets/img/fpo-post.png" width="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Post Jobs</p>
                  </a>
                  <p class="text-center hidden-xs">Post a new job, edit an existing job listing, or purchase job credits.</p>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="#">
                    <img src="../assets/img/fpo-resume-search.png" width="50%"  alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Resume Search</p>
                  </a>
                  <p class="text-center  hidden-xs">Search our database of qualified resumes to find the perfect candidate.</p>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="#">
                    <img src="../assets/img/fpo-saved-search.png" width="50%"  alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Saved Searches</p>
                  </a>
                  <p class="text-center hidden-xs">Save your resume searches and execute the same searches later.</p>
                </div>
                <!-- ### </div>
                <div class="row"> ### -->
                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="#">
                    <img src="../assets/img/fpo-saved-resumes.png" width="50%"  alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Invoices</p>
                  </a>
                  <p class="text-center hidden-xs">Keep track of when you've paid for each job posted.</p>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="#">
                    <img src="../assets/img/analytics-flaticon.svg" width="50%"  alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Job Reports</p>
                  </a>
                  <p class="text-center hidden-xs">View your job reports</p>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 link-box stack-space">
                  <a href="#">
                    <img src="../assets/img/account-profile.svg" width="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Account Profile</p>
                  </a>
                  <p class="text-center hidden-xs">View and manage your account profile.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ### ONE ROW ### -->
          <div class="row clearfix hidden">
            <div class="col-sm-12">
              <div class="row col-md-6">
                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="img/fpo-post.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Post Jobs</p>
                  </a>
                  <p class="text-center">Post a new job, edit an existing job listing, or purchase job credits.</p>
                </div>

                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="img/fpo-resume-search.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Resume Search</p>
                  </a>
                  <p class="text-center">Search our database of qualified resumes to find the perfect candidate.</p>
                </div>

                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="../assets/img/fpo-saved-search.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Saved Searches</p>
                  </a>
                  <p class="text-center">Save your resume searches and execute the same searches later.</p>
                </div>
              </div>
              <div class="row col-md-6">
                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="../assets/img/fpo-saved-resumes.png" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Saved Resumes</p>
                  </a>
                  <p class="text-center">View resumes saved in previous searches</p>
                </div>

                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="../assets/img/analytics-flaticon.svg" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Job Reports</p>
                  </a>
                  <p class="text-center">View your job reports</p>
                </div>

                <div class="col-sm-4 stack-space">
                  <a href="#">
                    <img src="../assets/img/account-profile.svg" width="50%" height="50%" alt="" style="display:block; margin: 0 auto 10px"/>
                    <p class="lead tight text-center">Account Profile</p>
                  </a>
                  <p class="text-center">View and manage your account profile.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
