<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



<section class="no-subnav below-fh">
  <div class="pricing-bkgnd" style="background: url(../assets/img/pexels-photo-838413.jpg) center -127px no-repeat transparent; background-attachment: fixed; height: 100vh;">
    <div class="container">
      <div class="col-sm-5" style="margin: 50px auto 0;
        position: relative;
        text-align: left;
        color: #036;
        /*font-size: 30px; */
        background: rgba(255,255,255,.8) /*rgba(233,235,235,.6)*/;">

        <h1>It Pays to be a Member <br/>
          of SRA International</h1>
        <span style="color: #333; font-size: 20px;">
          <ul style="font-size: 18px; ">
            <li>Improve your KNOWLEDGE</li>
            <li>COLLABORATE with your colleagues</li>
            <li>EXCEL in your career</li>

          </ul>
          <a href="https://www.srainternational.org/membership/member-benefits-0" target="_blank" style="margin-left: 40px; font-size: 18px;">Learn More <span class="glyphicon glyphicon-chevron-right"></span></a>
        </span>

        <div class="row">
          <div class="pricing-tables-helight-two" style="width: 50%">
            <div class="title" style="font-size: 20px; height: 60px; padding-top: 14px;">Member Pricing</div>
            <div class="price" style="padding-top: 20px">$350 <i>per job post.</i><i><em>Job Posting Duration 30 days</em></i></div>
            <div class="ordernow" style="background-color: white; border: 1px solid #036; padding: 15px 20px"><a href="index.cfm?fuseaction=jobs.viewPaymentForm" class="colorchan btn btn-block btn-primary">Order Now</a></div>
          </div>
          <div class="pricing-tables-two" style="width: 50%;">
            <div class="title" style="font-size: 18px;">Non-Member Pricing</div>
            <div class="price" style="padding: 15px 0 30px;">$500 <i>per job post.</i><i><em>Job Posting Duration 30 days</em></i></div>
            <div class="ordernow" style="background-color: white; border: 1px solid #818181; padding: 15px 30px"><a href="index.cfm?fuseaction=jobs.viewPaymentForm" class="normalbut btn btn-block btn-primary">Order Now</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
